
.radar-chart-wrap .radar-label {
  position: absolute;
  .label-bg{
    display: flex;
    padding: 10px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    position: absolute;
  }
}
.radar-chart-wrap .label-circle {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 30px;
}
.label-text {
  white-space: nowrap;
}
.radar-label-1{
  left: 285px;
  top: 54px;
  .label-circle{
    background: linear-gradient(180deg, rgba(255, 220, 97, 0.10) 0%, rgba(250, 181, 45, 0.10) 100%), #FFF;
  }
  .label-bg{
    top: -78px;
    left: -32px;
    background: linear-gradient(133deg, rgba(255, 139, 2, 0.10) 18.39%, rgba(255, 201, 3, 0.10) 70.71%);
  }
  .label-text {
    background: var(--1, linear-gradient(127deg, #FFDC61 0%, #FAB52D 77.85%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.radar-label-2{
  left: 84px;
  top: 170px;
  .label-circle{
    background: linear-gradient(127deg, rgba(53, 85, 255, 0.10) 15.65%, rgba(161, 87, 255, 0.10) 77.85%), #FFF;
  }
  .label-bg{
    top: -13px;
    right: 60px;
    background: linear-gradient(127deg, rgba(53, 85, 255, 0.10) 15.65%, rgba(161, 87, 255, 0.10) 77.85%);
  }
  .label-text {
    background: var(--1, linear-gradient(127deg, #3555FF 15.65%, #A157FF 77.85%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.radar-label-3{
  left: 84px;
  top: 400px;
  
  .label-circle{
    background: linear-gradient(133deg, rgba(67, 106, 254, 0.10) 18.39%, rgba(1, 196, 255, 0.10) 70.71%), #FFF;
  }
  .label-bg{
    top: -13px;
    right: 60px;
    background: linear-gradient(133deg, rgba(67, 106, 254, 0.10) 18.39%, rgba(1, 196, 255, 0.10) 70.71%);
  }
  .label-text {
    background: var(--1, linear-gradient(127deg, #09F7F9 -200%, #0038F5 177.85%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.radar-label-4{
  left: 285px;
  top: 514px;
  .label-circle{
    background: linear-gradient(180deg, rgba(255, 96, 96, 0.10) 0%, rgba(255, 46, 46, 0.10) 100%), #FFF;
  }
  .label-bg{
    top: 60px;
    left: -158px;
    width: 344px;
    background: linear-gradient(275deg, rgba(246, 59, 71, 0.10) 0%, rgba(255, 126, 53, 0.10) 100%);
  }
  .label-text {
    background: var(--1, linear-gradient(127deg, #FF6060 0%, #FF2E2E 77.85%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.radar-label-5{
  left: 485px;
  top: 400px;
  .label-circle{
    background: linear-gradient(133deg, rgba(255, 139, 2, 0.10) 18.39%, rgba(255, 201, 3, 0.10) 70.71%), #FFF;
  }
  .label-bg{
    top: -13px;
    left: 60px;
    background: linear-gradient(133deg, rgba(255, 139, 2, 0.10) 18.39%, rgba(255, 201, 3, 0.10) 70.71%);
  }
  .label-text {
    background: var(--1, linear-gradient(127deg, #FFA235 0%, #FF6C2E 77.85%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.radar-label-6{
  left: 485px;
  top: 170px;
  .label-circle{
    background: linear-gradient(270deg, rgba(214, 64, 184, 0.10) 0%, rgba(251, 106, 171, 0.10) 100%), #FFF;
  }
  .label-bg{
    top: -13px;
    left: 60px;
    background: linear-gradient(270deg, rgba(214, 64, 184, 0.10) 0%, rgba(251, 106, 171, 0.10) 100%);
  }
  .label-text {
    background: var(--1, linear-gradient(0deg, #D640B8 0%, #FB6AAB 77.85%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.label-num-1-bg {
  display: inline-flex;
  padding: 20px 48px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: linear-gradient(270deg, rgba(214, 64, 184, 0.10) 0%, rgba(251, 106, 171, 0.10) 100%);
  .label-text {
    background: var(--1, linear-gradient(127deg, #FB6AAB 0%, #D640B8 77.85%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.label-num-2-bg {
  background: linear-gradient(133deg, rgba(67, 106, 254, 0.10) 18.39%, rgba(1, 196, 255, 0.10) 70.71%);
  .label-text {
    background: var(--1, linear-gradient(180deg, #09F7F9 -30%, #0038F5 77.85%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.radar-label-num3 {
  .radar-label-1{
    left: 285px;
    top: 54px;
    .label-circle{
      background: linear-gradient(127deg, rgba(53, 85, 255, 0.10) 15.65%, rgba(161, 87, 255, 0.10) 77.85%), #FFF;
    }
    .label-bg{
      top: -78px;
      left: -32px;
      background: linear-gradient(127deg, rgba(53, 85, 255, 0.10) 15.65%, rgba(161, 87, 255, 0.10) 77.85%);
    }
    .label-text {
      background: var(--1, linear-gradient(127deg, #3555FF 15.65%, #A157FF 77.85%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .radar-label-2{
    left: 84px;
    top: 400px;
    .label-circle{
      background: linear-gradient(133deg, rgba(67, 106, 254, 0.10) 18.39%, rgba(1, 196, 255, 0.10) 70.71%), #FFF;
    }
    .label-bg{
      top: -13px;
      right: 60px;
      background: linear-gradient(133deg, rgba(67, 106, 254, 0.10) 18.39%, rgba(1, 196, 255, 0.10) 70.71%);
    }
    .label-text {
      background: var(--1, linear-gradient(127deg, #09F7F9 -200%, #0038F5 177.85%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .radar-label-3{
    left: 484px;
    top: 400px;
    
    .label-circle{
      background: linear-gradient(180deg, rgba(255, 96, 96, 0.10) 0%, rgba(255, 46, 46, 0.10) 100%), #FFF;
    }
    .label-bg{
      top: -13px;
      left: 60px;
      width: 344px;
      background: linear-gradient(275deg, rgba(246, 59, 71, 0.10) 0%, rgba(255, 126, 53, 0.10) 100%);
    }
    .label-text {
      background: var(--1, linear-gradient(127deg, #FF6060 0%, #FF2E2E 77.85%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
.radar-label-num4 {
  .radar-label-1{
    left: 285px;
    top: 54px;
    .label-circle{
      background: linear-gradient(133deg, rgba(67, 106, 254, 0.10) 18.39%, rgba(1, 196, 255, 0.10) 70.71%), #FFF;
    }
    .label-bg{
      top: -78px;
        left: -32px;
      background: linear-gradient(133deg, rgba(67, 106, 254, 0.10) 18.39%, rgba(1, 196, 255, 0.10) 70.71%);
    }
    .label-text {
      background: var(--1, linear-gradient(127deg, #09F7F9 -200%, #0038F5 177.85%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    
  }
  .radar-label-2{
    left: 54px;
    top: 285px;
    
    .label-circle{
      background: linear-gradient(270deg, rgba(214, 64, 184, 0.10) 0%, rgba(251, 106, 171, 0.10) 100%), #FFF;
    }
    .label-bg{
      top: -13px;
      right: 60px;
      background: linear-gradient(270deg, rgba(214, 64, 184, 0.10) 0%, rgba(251, 106, 171, 0.10) 100%);
    }
    .label-text {
      background: var(--1, linear-gradient(0deg, #D640B8 0%, #FB6AAB 77.85%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .radar-label-3{
    left: 285px;
    top: 514px;
    
    .label-circle{
      background: linear-gradient(133deg, rgba(255, 139, 2, 0.10) 18.39%, rgba(255, 201, 3, 0.10) 70.71%), #FFF;
    }
    .label-bg{
      top: 60px;
      left: -158px;
      background: linear-gradient(133deg, rgba(255, 139, 2, 0.10) 18.39%, rgba(255, 201, 3, 0.10) 70.71%);
    }
    .label-text {
      background: var(--1, linear-gradient(127deg, #FFA235 0%, #FF6C2E 77.85%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .radar-label-4{
    left: 512px;
    top: 285px;
    .label-circle{
      background: linear-gradient(180deg, rgba(255, 96, 96, 0.10) 0%, rgba(255, 46, 46, 0.10) 100%), #FFF;
    }
    .label-bg{
      top: -13px;
      left: 60px;
      width: 344px;
      background: linear-gradient(275deg, rgba(246, 59, 71, 0.10) 0%, rgba(255, 126, 53, 0.10) 100%);
    }
    .label-text {
      background: var(--1, linear-gradient(127deg, #FF6060 0%, #FF2E2E 77.85%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  
}
.radar-label-num5 {
  .radar-label-1{
    left: 285px;
    top: 54px;
    .label-circle{
      background: linear-gradient(180deg, rgba(255, 220, 97, 0.10) 0%, rgba(250, 181, 45, 0.10) 100%), #FFF;
    }
    .label-bg{
      top: -78px;
      left: -32px;
      background: linear-gradient(133deg, rgba(255, 139, 2, 0.10) 18.39%, rgba(255, 201, 3, 0.10) 70.71%);
    }
    .label-text {
      background: var(--1, linear-gradient(127deg, #FFDC61 0%, #FAB52D 77.85%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .radar-label-2{
    left: 64px;
    top: 214px;
    .label-circle{
      background: linear-gradient(127deg, rgba(53, 85, 255, 0.10) 15.65%, rgba(161, 87, 255, 0.10) 77.85%), #FFF;
    }
    .label-bg{
      top: -13px;
      right: 60px;
      background: linear-gradient(127deg, rgba(53, 85, 255, 0.10) 15.65%, rgba(161, 87, 255, 0.10) 77.85%);
    }
    .label-text {
      background: var(--1, linear-gradient(127deg, #3555FF 15.65%, #A157FF 77.85%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .radar-label-3{
    left: 146px;
    top: 470px;
    
    .label-circle{
      background: linear-gradient(133deg, rgba(67, 106, 254, 0.10) 18.39%, rgba(1, 196, 255, 0.10) 70.71%), #FFF;
    }
    .label-bg{
      top: -13px;
      right: 60px;
      background: linear-gradient(133deg, rgba(67, 106, 254, 0.10) 18.39%, rgba(1, 196, 255, 0.10) 70.71%);
    }
    .label-text {
      background: var(--1, linear-gradient(127deg, #09F7F9 -200%, #0038F5 177.85%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .radar-label-4{
    left: 420px;
    top: 470px;
    .label-circle{
      background: linear-gradient(180deg, rgba(255, 96, 96, 0.10) 0%, rgba(255, 46, 46, 0.10) 100%), #FFF;
    }
    .label-bg{
      top: -13px;
      left: 60px;
      background: linear-gradient(275deg, rgba(246, 59, 71, 0.10) 0%, rgba(255, 126, 53, 0.10) 100%);
    }
    .label-text {
      background: var(--1, linear-gradient(127deg, #FF6060 0%, #FF2E2E 77.85%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .radar-label-5{
    left: 505px;
    top: 214px;
    .label-circle{
      background: linear-gradient(270deg, rgba(214, 64, 184, 0.10) 0%, rgba(251, 106, 171, 0.10) 100%), #FFF;
    }
    .label-bg{
      top: -13px;
      left: 60px;
      background: linear-gradient(270deg, rgba(214, 64, 184, 0.10) 0%, rgba(251, 106, 171, 0.10) 100%);
    }
    .label-text {
      background: var(--1, linear-gradient(0deg, #D640B8 0%, #FB6AAB 77.85%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
